@import "variables.scss";
@import "old.scss";
@import "header.scss";
@import "footer.scss";
@import "hero.scss";

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--page-black);
  color: var(--text--color--text-white);
  letter-spacing: -0.01em;
  font-family: Barlow, sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.45em;
}

main {
  padding-top: 7rem;

  > *:first-child {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}

.button {
  cursor: pointer;
}

label.material-icons {
  margin-bottom: 0;
}
