<nav class="navbar-2-component">
  <input type="checkbox" name="navbar-dropdown" id="navbar-dropdown">
  <div class="navbar-container-menu-top">
    <div class="navbar-2-container">
      {{ $image := resources.Get "images/Logo-JPEG-XL-Horizontal-full_colour-white.svg" }}
      <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current">
        <img width="63" loading="lazy" alt="JPEGXL Logo" src="{{ ($image).RelPermalink }}" class="navbar_logo">
      </a>
      <div class="navbar_menu-items">
        <label for="navbar-dropdown"
          class="navbar-toggle navbar_link navbar-top w-inline-block material-icons button"></label>
        <div class="navbar-divider-vertical"></div>
        <a href="#" class="navbar_link navbar-top w-inline-block material-icons">mail</a>
      </div>
    </div>
  </div>
  <div class="container-navbar-dropdown-content">
    <div class="container-navbar-content">
      <div class="navbar-close"><label for="navbar-dropdown" class="navbar-toggle material-icons button"></label></div>
      <div class="navbar-dropdown-content">
        <div class="container-column-vertical">
          <div class="navbar-wrapper-text-section span-with_divider-bottom">
            <div class="text-navbar-menu_section">Resources</div>
          </div>
          <a href="/supported-software">Supported Software</a>
          <a href="/resources/battle-of-codecs.html">Battle of the Codecs</a>
          <a href="/resources/faqs.html">FAQs</a>
          <a href="/resources/glossary.html">Glossary</a>
        </div>
        <div class="container-column-vertical">
          <div class="navbar-wrapper-text-section span-with_divider-bottom">
            <div class="text-navbar-menu_section">Tools</div>
          </div>
          <a href="/resources/distance-vs-effort-visualizer.html">Distance vs. Effort Visualizer</a>
          <a href="/resources/jpeg-xl-test-page.html">JPEG XL Test Page</a>
        </div>
        <div class="container-column-vertical">
          <div class="navbar-wrapper-text-section span-with_divider-bottom">
            <div class="text-navbar-menu_section">About</div>
          </div>
          <a href="/about/history.html">History</a>
          <a href="/about/contributors.html">Contributors</a>
          <a href="/about/photo-credits.html">Photo Credits</a>
        </div>
        <div class="container-column-vertical">
          <div class="navbar-wrapper-text-section span-with_divider-bottom">
            <div class="text-navbar-menu_section">Media</div>
          </div>
          <a href="/media/newsroom.html">Newsroom</a>
          <div>
            <div class="w-layout-grid navbar-social-links">
              <a href="https://discord.gg/DqkQgDRTFu" target="_blank" class="social-link w-inline-block"><img
                  src="/images/Icon-social-discord-black.svg" loading="lazy" alt="" class="icon-social"></a>
              <a href="https://www.reddit.com/r/jpegxl" target="_blank" class="social-link w-inline-block"><img
                  src="/images/Icon-social-reddit-black.svg" loading="lazy" alt="" class="icon-social"></a>
              <a href="https://x.com/jpegxl" target="_blank" class="social-link w-inline-block"><img
                  src="/images/Icon-social-x-twitter-black.svg" loading="lazy" alt="" class="icon-social"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>